body{
    margin: 0;
    background-color: white;
}

ul{
    list-style-type: none;
}

#gallery-container{
    margin: auto;
    max-width: 60rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 16.666%);
}

.swiper{
    position: relative;
}

/* ===== Project Closed ===== */

.project{
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: turquoise;
    /* border-radius: 0.5rem;
    overflow: hidden; */
    transition: ease-in-out 0.08s;
    /* --- Closed --- */
    grid-column: auto / span 2;
    grid-row: auto / span 2;
}

.project:hover{
    transform: scale(1.03);
}

/* .swiper{
    position: relative;
} */

.swiper{
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.swiper > *{
    pointer-events: inherit;
}

.swiper-navigation{
    display: none;
}

/* .swiper > .carousel-button{
    display: none;
} */

/* .slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide[data-active]{
    opacity: 1;
} */

.project-information{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.date-and-title{
    width: 100%;
    height: 0%;
    /* padding: 1.5% 2.5% 1.5% 2.5%; */
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 95%);
    transition: ease-in-out 0.08s;
    pointer-events: none;
}

.date-and-title > *{
    color: white;
    margin: 0;
}

.project-description{
    display: none;
}

/* ===== Project Open ===== */

.project[data-active]{
    background: none;
    grid-column: 1 / 7;
    grid-row: auto / span 3;
}

.project[data-active]:hover{
    transform: none;
}

.swiper[data-active]{
    border: solid black 1px;
    height: 95%;
    width: 100%;
    pointer-events: all;
}

.swiper-navigation[data-active]{
    display: block;
    pointer-events: all;
}

.project-information[data-active]{
    position: relative;
    height: 95%;
    flex-direction: column;
    justify-content: flex-start;
}

.date-and-title[data-active]{
    background: none;
    position: relative;
    height: auto;
    top: 0;
}

.date-and-title[data-active] > *{
    color: black;
    margin: 0;
}

.project-description[data-active]{
    margin-top: 5%;
    display: block;
}