<!DOCTYPE html>

<head>
    <title>connor.creations</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- swiper -->
    <link href="{{ url_for('static', path='/css/swiper-bundle.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/js/swiper-bundle.min.js') }}"></script>

    <!-- adobe fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/fjg0ajy.css">

    <!-- my files -->
    <link href="{{ url_for('static', path='/css/portfolio.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/header.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/js/portfolio.js') }}"></script>
</head>

<body>
    {{ render_partial('partials/header.html') }}
    <div id="portfolio-hero"></div>
    <div id="gallery-container">
        {% for project in gallery %}
        <div class="project">
            <!-- <div class="carousel-container">
                <ul>
                    {% for image in project.images %}
                        <li class="slide">
                            <img src="{{ image }}">
                        </li>
                    {% endfor %}
                </ul>
            </div> -->
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for image in project.images %}
                        <div class="swiper-slide">
                            <img src="{{ image }}">
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination swiper-navigation"></div>
                <div class="swiper-button-prev swiper-navigation"></div>
                <div class="swiper-button-next swiper-navigation"></div>
            </div>
            <div class="project-information">
                <div class="date-and-title">
                    <h3>{{ project.title }}</h3>
                    <h5>{{ project.date }}</h5>
                </div>
                <div class="project-description">
                    <p>{{ project.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>